CW2/xmlPollSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="poll">
		<xs:complexType>
		  <xs:sequence>
				  <xs:element ref="answer" maxOccurs="unbounded" minOccurs="0"/>
		  </xs:sequence>
		  <xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
  

  <xs:element name="answer">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="text" type="xs:string"/>
		  <xs:attribute name="id" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>